@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.todo-list{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  &__h2{
    @include fontSize(16);
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin: 15px 10px 10px 0;
  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: $color-white;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;

    &:last-child{
      margin-bottom: 0;
    }

    &.active{
      background-color: $color-done-active-light;
      .todo-list__done{
        i{
          color: $color-done-active;
          pointer-events: none;
        }
      }
      .todo-list__remove,
      .todo-list__edit{
        display: none;
      }
    }
  }

  &__label{
    margin: 0 10px;
    @include fontSize(12);
  }

  &__done{
    background: none;
    border: 0;
    align-self: flex-start;
    i{
      pointer-events: none;
      color: $color-done;
      @include fontSize(18);
      transition: .3s;
    }
  }

  &__remove{
    background: none;
    border: 0;
    i{
      color: $color-remove;
      @include fontSize(18);
    }
  }
  &__edit{
    background: none;
    border: 0;
    i{
      color: $color-gray-light;
      @include fontSize(18);
    }
  }
}