@import '../../styles/variables.scss';

.todo-list{
  list-style: none;
  padding-left: 0;

  &__h2{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: $color-white;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px;

    &.active{
      background-color: $color-done-active-light;
      .todo-list__done{
        i{
          color: $color-done-active;
        }
      }
      .todo-list__remove{
        display: none;
      }
    }
  }

  &__label{
    margin: 0 10px;
    font-size: 14px;
  }

  &__done{
    background: none;
    border: 0;
    align-self: flex-start;
    i{
      color: $color-done;
      font-size: 18px;
      transition: .3s;
    }
  }

  &__remove{
    background: none;
    border: 0;
    i{
      color: $color-remove;
      font-size: 18px;
    }
  }
  &__edit{
    background: none;
    border: 0;
    i{
      color: #c1c1c1;
      font-size: 18px;
    }
  }
}